  <div class="main-top">
    <div class="top-left">
      <div class="top-title">
        hogefuga
      </div>
    </div>
    <div class="top-right">
      <div class="chat-end">
        <a href="#">チャットを終了する</a>
      </div>
    </div>

  </div>
  <div class="chat-main">
    <div class="chat-content">
      <div class="content-name-date">
        <div class="content-name">Sasaki</div>
        <div class="content-date">2022/5/4(Wed) 18:03:30</div>
      </div>
      <div class="content">今からランニングです。</div>
    </div>
  </div>
  
