  <div class="main-top">
    <div class="top-left">
      <div class="top-title">
        <%= @room.name %>
      </div>
    </div>
    <div class="top-right">
      <div class="chat-end">
        <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
      </div>
    </div>
  </div>
  
  
