<div class="wrapper">
  <div class="side-bar">
      <%= render "side_bar" %>
  </div>

  
  <div class="main-container">
    <%= render "main_chat" %>
    <form>
      <div class="message">
        <input class="message-text" type="text" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <div class="send-message">
        <input class="btn" type="submit" value="送信">
      </div>
    </form>
  </div>
</div>