<div class="wrapper">
  <div class="side-bar">
    <div class="side-top">

    </div>
    <div class="side-bottom">
      <%= render "side_bar" %>
    </div>
  </div>
  <div class="main-container">
    <div class="main-top">

    </div>
    <div class="chat-main">
      <%= render "main_chat" %>
    </div>
    <div class="main-bottom">
      
    </div>
  </div>
</div>