<div class="wrapper">
  <div class="side-bar">
    <div class="side-top">
      <div class="user-name">
        <a href="#">Sasaki</a>
      </div>
      <div class="chat-create">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bottom">
      <div class="room">
        <div class="room-name">
          <a href="#">ルームネーム1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">ルームネーム2</a>
        </div>
      </div>
      <%= render "side_bar" %>
    </div>
  </div>
  <div class="main-container">
    <div class="main-top">

    </div>
    <div class="chat-main">
      <%= render "main_chat" %>
    </div>
    <div class="main-bottom">

    </div>
  </div>
</div>